extends ../layout

block content
  .row
    .medium-8.medium-offset-2.columns
      .card
        if messages.success
          .callout.success(role='alert')
            for success in messages.success
              div= success.msg
        if messages.error
          .callout.alert(role='alert')
            for error in messages.error
              div= error.msg

        h4.card-title Profile Information
        form(method='POST', action='/account?_method=PUT')
          label(for='email') Email
          input(type='email', name='email', id='email', value=user.email)

          label(for='name') Name
          input(type='text', name='name', id='name', value=user.name)

          label Gender
          input(type='radio', checked=(user.gender == 'male'), name='gender', id='male', value='male', data-toggle='radio')
          label(for='male') Male
          input(type='radio', checked=(user.gender == 'female'), name='gender', id='female', value='female', data-toggle='radio')
          label(for='female') Female

          label(for='location') Location
          input(type='text', name='location', id='location', value=user.location)

          label(for='website') Website
          input(type='text', name='website', id='website', value=user.website)

          label Gravatar
          img.gravatar(src=user.gravatar, width='100', height='100')

          button.button.success(type='submit') Update Profile

      .card
        h4.card-title Change Password
        form(method='POST', action='/account?_method=PUT')
          label(for='password') New Password
          input(type='password', name='password', id='password')

          label(for='confirm') Confirm Password
          input(type='password', name='confirm', id='confirm')

          button.button.success(type='submit') Change Password

      .card
        h4.card-title Linked Accounts
        if user.twitter
          p: a.text-danger(href='/unlink/twitter') Unlink your Twitter account
        else
          p: a(href='/auth/twitter') Link your Twitter account

      .card
        h4.card-title Delete Account
        form(method='POST', action='/account?_method=DELETE')
          p You can delete your account, but keep in mind this action is irreversible.
          button.button.alert(type='submit') Delete my account
