.top-bar
  .top-bar-title
    span(data-responsive-toggle='responsive-menu', data-hide-for='medium')
      span.menu-icon.light(data-toggle)
    a(href='/') ShareTheBooks
  #responsive-menu
    .top-bar-left
      ul.vertical.medium-horizontal.menu
        li(class=(title == 'Home') ? 'active' : null)
          a(href='/') Home
        if user
          li(class=(title == 'Add Book') ? 'active' : null)
            a(href='/add') Add A Book
    .top-bar-right
      ul.vertical.medium-horizontal.menu
        if user
          li
            a(href='/shares') Shares
          li
            a(href='/mybooks') My Books
          li
            a(href='/account') My Account
          li
            a(href='/logout') Logout
        else
          li(class=(title == 'Log in') ? 'active' : null)
            a(href='/login') Log in
          li(class=(title == 'Sign up') ? 'active' : null)
            a(href='/signup') Sign up
