extends layout

block content
  .row
    .medium-8.medium-offset-2.columns
      .card
        if messages.error
          .callout.alert(role='alert')
            for error in messages.error
              div= error.msg

        h4.card-title Add A Book
        form(method='POST')
          label(for='bookTitle') Book Title
          input(type='text', name='bookTitle', id='bookTitle', placeholder='To Kill A Mockingbird', autofocus)

          button.button(type='submit') Add!
