extends layout

block content
  .row
    .medium-1.columns
      br
    .medium-3.columns
      img(src='#{book.coverUrl}')
      br
      br
      br
      h4 Owner Of The Book
      if owner.name
        h6 Name: #{owner.name}
      if owner.location
        h6 Location: #{owner.location}
      a.button.success(href='user/#{book.ownerId}') See The Owners Other Books
      if user
        br
        a.button.success(href='../share/#{book._id}') Ask To Share
    .medium-6.columns
      h1 #{book.title}
        small
          &nbsp;#{book.author}
      hr
      p= book.description
    medium-2.columns
      br
  br
