extends layout

block content
  .row
    if messages.error
      .callout.alert(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      .callout.success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      .callout.primary(role='alert')
        for info in messages.info
          div= info.msg

  .row
    each book in books
      .small-2.columns
        a(href='book/#{book._id}')
          img(src='#{book.coverUrl}')
        br
        br
        br
