extends layout

block content
    .row
        if messages.error
            .callout.alert(role='alert')
                for error in messages.error
                    div= error.msg
        if messages.success
            .callout.success(role='alert')
                for success in messages.success
                    div= success.msg
        if messages.info
            .callout.primary(role='alert')
                for info in messages.info
                    div= info.msg

    .row
      .small-1.columns
        br
      .small-5.columns
        h2.text-center Requests Sent
          each item in sent
              .row
                .callout
                  h5 #{item.title}
                  if item.accepted
                    a.success.button This Trade Was Accepted!
                  if item.gone
                    a.alert.button This Trade Has Not Been Accepted.. :(
                  if !item.gone
                    if !item.accepted
                      a.secondary.button Pending
      .small-5.columns
        h2.text-center Requests recieved
          each item in recieved
            .row
              .callout
                h5 #{item.title}
                row
                  .small-6.columns
                    a.success.button(href='accept/#{item._id}') Accept
                  .small-6.columns
                    a.alert.button(href='delete/#{item._id}') Delete
                br
      .small-1.columns
        br
