extends layout

block content
  .row
    if messages.error
      .callout.alert(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      .callout.success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      .callout.primary(role='alert')
        for info in messages.info
          div= info.msg
  br
  .row
    .small-12.columns
      if mine
        h1.text-center My Books
      else
        h1.text-center #{owner.name}'s Books
      small
        if owner.location
          h3.text-center Location: #{owner.location}
        if owner.gender
          h3.text-center Gender: #{owner.gender}
        if owner.website
          h3.text-center Website: #{owner.website}
  br
  br
  hr
  br
  .row
    each book in books
      .small-2.columns
        if mine
          a(href='book/#{book._id}')
            img(src='#{book.coverUrl}')
        else
          a(href='../#{book._id}')
            img(src='#{book.coverUrl}')
        br
        br
        br
